upstream ih {
    server unix:/run/uwsgi/app/ih/socket;
}
 
server {
    listen [::]:80;
    listen 80;
    server_name danwald.ih.com;
    root /ih;
 
    location / {
        try_files $uri @uwsgi;
    }
 
    location @uwsgi {
        include uwsgi_params;
        uwsgi_pass ih;
    }
}

